/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --azul-10: #EAF2FD;
   --preto-85: #F5F5F5;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

h1, h2, h3, h4, p {
    margin: 0;
}

.error {
    color: red;
    margin-top: -16px;
    margin-bottom: 16px;
}

.input-error {
    border: 1px solid red !important;
    box-shadow: 0 1px 0 red !important;
}

.label-error {
    color: red !important;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM.

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__title {
    margin-left: 8px;
}

.menu__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list {
    display: none;
}

/*Sección Title*/

section.title{
    padding: 16px;
}

.title__bio {
    font-weight: bold;
    margin: 16px 0;
}

.title__profile {
    width: 220px;
    height: 200px;
    border-radius: 100%;
}

.title__subsection {
    font-weight: normal;
    margin-bottom: 16px;
}

.title__network {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

/*Sección About*/

section.about{
    padding: 16px;
    background-color: var(--azul-10);
}

.about__title {
    margin-bottom: 16px;
}

.about__paragraph {
    margin-bottom: 16px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

/* Sección skills */

section.skills,
section.hobbies {
    padding: 16px;
}

.skills__title,
.hobbies__title {
    text-align: center;
    margin-bottom: 32px;
}

.skills__line,
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 16px;
}

.skills__box,
.hobbies__box {
    background-color: #ffffff;
    padding: 16px;
}

.skills__box ul,
.hobbies__box ul {
    padding-left: 0;
    margin-bottom: 0;
}

.skills__img,
.hobbies__img {
    margin: 24px 0 8px 0;
}

/* Experiencia Académica*/

section.academic{
    padding: 32px;
    background-color: var(--azul-10);
}

.academic__title {
    text-align: center;
    margin-bottom: 32px;
}

.academic__courses__item__img {
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__img img {
    width: 84px;
}

.academic__courses__item__title h4 {
    margin: 8px 0;
}

/* experiencia*/

section.experience{
    padding: 32px;
}

.experience__section__title {
    margin-bottom: 32px;
    text-align: center;
}

.experience__img {
    width: 100%;
    margin-bottom: 16px;
}

.experience__title {
    font-size: 16px;
}

.experience__text {
    font-size: 14px;
    margin: 8px 0;
}

.experience__description {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 64px;
}

.experiencia__botao--repo {
    all: unset;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
}

.experience__botao--demo,
.formcontato__botao {
    all: unset;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--azul-100, #2A7AE4);
    color: #ffffff;
}

/*Contacto*/

section.formcontato{
    background-color: var(--azul-10);
    padding: 32px;
    overflow: hidden;
}

.formcontato--esquerda {
    display: none;
}

.formcontato__title {
    margin-bottom: 8px;
}

.formcontato__subtext:last-of-type {
    margin-bottom: 32px;
}

.formcontato__field {
    position: relative;
}

.formcontato__label {
    position: absolute;
    bottom: 6px;
    left: 12px;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 16px;
    padding-bottom: 10px;
    color: #A2A2A2;
}

.formcontato__label--textarea {
    position: absolute;
    top: 24px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 12px;
    color: #A2A2A2;
}

.formcontato__input,
.formcontato__textarea {
    all: unset;
    border-radius: 4px;
    padding: 24px 0 8px 12px;
    width: 98%;
    background-color: #fff;
    margin-bottom: 32px;
    display: block;
}

.formcontato__input:focus + .formcontato__label,
.formcontato__input:not(:placeholder-shown) + .formcontato__label {
  transform: translateY(-70%);
  font-size: 0.8em;
  color: #2A7AE4;
}

.formcontato__input:not(:focus) + label.formcontato__label {
    color: #A2A2A2;
  }

.formcontato__input:focus,
.formcontato__textarea:focus {
    transform: translateY(-2px);
    box-shadow: 0 2px 0 var(--azul-100, #2A7AE4);
}

.formcontato__textarea:focus + .formcontato__label--textarea,
.formcontato__textarea:not(:placeholder-shown) + .formcontato__label--textarea {
  transform: translateY(-70%);
  font-size: 0.8em;
  color: #2A7AE4;
}

.formcontato__botao:disabled {
    background-color: #A2A2A2;
    cursor: not-allowed;
}

/*footeer*/

section.footer{
    padding: 32px;
    background-color: #fff;
    text-align: center;
}

.footer__rodape:nth-child(1) {
    margin-bottom: 16px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
    section.menu,
    section.title,
    .about__container,
    section.skills,
    section.hobbies,
    .academic__courses,
    section.experience,
    .formcontato__contacto {
        max-width: 1136px;
        margin: 0 auto;
    }

    .about__container {
        padding: 64px;
    }

    /* Menu */
    .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .menu__list__item__contato {
        display: none;
    }

    /* Title */

    .title__div {
        gap: 16px !important;
    }

    .title__bio {
        font-size: 52px;
        margin-bottom: 24px;
    }

    .title__subsection {
        font-size: 22px;
        margin-bottom: 24px;
    }

    .title__network {
        justify-content: flex-start;
        gap: 32px;
    }

    .title__profile {
        width: 568px !important;
        height: 268px !important;
    }

    /* About */
    .about__title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .about__paragraph {
        width: 751px;
    }

    /* Skills */
    /* Hobbies */
    .skills__line,
    .hobbies__line {
        padding: 32px;
        grid-template-columns: repeat(6, 1fr) !important;
    }

    .skills__title,
    .hobbies__title {
        font-size: 32px;
        margin-bottom: 32px;
    }

    /* Academic */
    .academic__courses {
        padding: 82px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .academic__courses__list {
        display: flex;
        flex-direction: column;
    }

    .academic__courses__item__img {
        flex-grow: 1;
        padding: 52px;
    }

    /* Experience */
    .experience__section__title {
        font-size: 32px;
    }

    .experiencie__box {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 64px;
    }

    .experience__info {
        flex-basis: 368px;
    }

    .experience__reverse {
        flex-direction: row-reverse;
    }

    /* Contacto */
    .formcontato--esquerda {
        display: block;
    }

    .formcontato__contacto {
        display: flex;
        align-items: center;
        gap: 16px;
    }

}

/*Mobile*/
@media (min-width: 425px) {
    section.menu,
    section.title,
    section.about,
    section.hobbies,
    section.skills {
        padding: 32px;
    }

    /* Menú */
    .menu__list__item__contato {
        font-weight: bold;
    }

    /*title*/
    .title__profile {
        width: 400px;
        height: 180px;
    }

    .title__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    /*Skills*/
    /*Hobbies*/
    .skills__line,
    .hobbies__line {
        grid-template-columns: repeat(3, 1fr);
    }

    /*Formación Académica*/
    .academic__courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
